<form #form="ngForm" (ngSubmit)="salvarCliente(form)">

  <div class="form-group">
    <app-form-control label="Nome">
      <input class="form-control" name="nome" required [(ngModel)]="cliente.nome"
             minlength="5">
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="CPF">
      <input class="form-control" maxlength="14" name="cpf" required [(ngModel)]="cliente.cpf" [value]="cliente.cpf | cpf"
             appMascara appCpf>
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="Situação">
      <app-input-situacao name="situacao" required
                          [(ngModel)]="cliente.situacao"
      ></app-input-situacao>
    </app-form-control>
  </div>

  <button type="submit" class="btn btn-success">Salvar</button>

</form>

