<button class="btn btn-light" type="button" (click)="toggleSituacao()">

  <ng-container *ngIf="value == 0">
    Ativo
  </ng-container>

  <ng-container *ngIf="value == 1">
    Pendente
  </ng-container>

</button>
