<table class="table table-hover mb-3">
  <thead>
  <tr>
    <th>CPF: </th>
    <th>Nome: </th>
    <th>Situação: </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cliente of clientes"
      (click)="emiteClienteSelecionado(cliente)"
  >
    <td>{{cliente.cpf | cpf}}</td>
    <td>{{cliente.nome}}</td>
    <td>
      <div *ngIf="cliente.situacao == 0"> Ativo </div>
      <div *ngIf="cliente.situacao == 1"> Pendente </div>
    </td>
  </tr>
  </tbody>
</table>
