<app-listagem-contas class="row"
                     *ngIf="!conta"
                     [contas]="contas"
                     (contaSelecionada)="contaSelecionada($event)"
></app-listagem-contas>

<!--<app-dados-conta
  *ngIf="conta"
  [conta]="conta"
  (numeroDaConta)="apresentaMensagem()"
></app-dados-conta>-->

<app-form-conta *ngIf="conta" class="row"
                [conta]="conta"
                [clientes]="clientes"
                (salvaContaEmitter)="atualizaConta($event)"
></app-form-conta>

<div class="row mb-3">
  <button class="btn btn-success" *ngIf="!conta" (click)="novaConta()">Adicionar</button>

  <button class="btn btn-light" *ngIf="conta" (click)="conta = null">Voltar</button>
</div>


<app-listagem-clientes class="row mb-2"
  *ngIf="!cliente"
  [clientes]="clientes"
  (clienteSelecionado)="clienteSelecionado($event)"
></app-listagem-clientes>

<!--<app-dados-cliente
  *ngIf="cliente"
  [cliente]="cliente"
  (nomeClicado)="clienteSelecionado($event)"
></app-dados-cliente>-->

<app-form-cliente class="row mb-2"
  *ngIf="cliente"
  [cliente]="cliente"
  (clienteSalvo)="atualizaCliente($event)">
</app-form-cliente>

<div class="row">
  <button class="btn btn-light" *ngIf="cliente" (click)="cliente = null">Voltar</button>
</div>
