<button class="btn btn-secondary ml-2" type="button" [disabled]="value == 0" (click)="setEstadoConta(0)">Ativo</button>
<button class="btn btn-secondary ml-2" type="button" (click)="setEstadoConta(1)" [disabled]="value== 1">Encerrada</button>
