

<div>
  <label>Agência: </label> {{conta?.agencia}}
</div>
<div>
  <label>Estado: </label> {{conta?.estado | estado}}
</div>
<div (click)="emiteNumeroDaConta(conta)">
  <label>Número: </label> {{conta?.numero}}
</div>
<div>
  <label>Saldo: </label> {{conta?.saldo | currency:'BRL'}}
</div>
<div>
  <label>Tipo: </label> {{conta?.tipo | tipo}}
</div>
<div>
  <label>Titular: </label> {{conta?.titular.nome}}
</div>
<div>
  <label>Dia de Aniversário: </label> {{conta?.diaDeAniversario}}
</div>
