<div (click)="nomeClicado()">
  <label>Nome: </label> {{ cliente.nome }}
</div>
<div>
  <label>CPF:</label> {{ cliente.cpf | cpf }}
</div>
<div>
  <label>Situação:</label>
  <label *ngIf="cliente.situacao == 0">Ativo</label>
  <label *ngIf="cliente.situacao == 1">Pendente</label>
</div>
