<table class="table table-hover mb-3">
  <thead>
    <tr>
      <th>Agência: </th>
      <th>Estado: </th>
      <th>Número: </th>
      <th>Saldo: </th>
      <th>Tipo: </th>
      <th>Titular: </th>
      <th>Dia de Aniversário: </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas"
      (click)="emiteContaSelecionada(conta)">
      <td>{{conta.agencia}}</td>
      <td>{{conta.estado | estado}}</td>
      <td>{{conta.numero}}</td>
      <!--td><div *ngIf="conta.estado == 0"> {{conta.saldo | currency:'BRL':'symbol':'1.2-2':'pt-br' }} </div></td-->
      <td><div *ngIf="conta.estado == 0"> {{conta.saldo | currency:'BRL' }} </div></td>
      <td>{{conta.tipo | tipo}}</td>
      <td>{{conta.titular.nome}}</td>
      <td>{{conta.diaDeAniversario}}</td>
    </tr>
  </tbody>
</table>
