<div>
  <label>{{label}}: </label>

  <ng-content></ng-content>

  <div *ngIf="form.submitted && model?.errors?.required">
    Campo obrigatório
  </div>
  <div *ngIf="form.submitted && model?.errors?.minlength">
    O campo deve possuir ao menos {{ model?.errors.minlength.requiredLength }} caracteres.
  </div>
  <div *ngIf="form.submitted && model?.errors?.pattern">
    O campo não respeita o padrão definido.
  </div>
  <div *ngIf="form.submitted && model?.errors?.cpfInvalido">
    O CPF é inválido.
  </div>
</div>
