<form #form="ngForm" (ngSubmit)="salvarConta(form)">

  <div class="form-group">
    <app-form-control label="Agencia">
      <input class="form-control" name="agencia" required [(ngModel)]="conta.agencia">
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="Numero">
      <input class="form-control" name="numero" required [(ngModel)]="conta.numero">
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="Estado">
      <app-input-estado-conta name="estado" required [(ngModel)]="conta.estado">
      </app-input-estado-conta>
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="Saldo">
      <input type="tel" class="form-control" appMonetario name="saldo" required [value]="conta.saldo | currency:'BRL':'' "
             [(ngModel)]="conta.saldo">
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="Tipo">
      <app-input-tipo-conta name="tipo" required [(ngModel)]="conta.tipo">
      </app-input-tipo-conta>
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="Titular">
      <app-titular-conta name="titular" required
                         [clientes]="clientes"
                         [(ngModel)]="conta.titular">
      </app-titular-conta>
    </app-form-control>
  </div>

  <div class="form-group">
    <app-form-control label="Dia do Aniversário">
      <input class="form-control" name="diaDoAniversario" [(ngModel)]="conta.diaDeAniversario">
    </app-form-control>
  </div>

  <button type="submit" class="btn btn-success">Salvar</button>

</form>
