<button class="btn btn-secondary ml-2" type="button" [disabled]="value == 1" (click)="setTipoConta(1)">Corrente</button>
<button class="btn btn-secondary ml-2" type="button" (click)="setTipoConta(2)" [disabled]="value== 2">Poupança</button>
